---
log-level: debug
region: "${region}"
secrets-maanger:
  secret-id: "${secret_id}"
repositories:
  - name: "${repo_full_name}"
    codebuild:
      project-name: "${project_name}"
    hooks:
      - if: |
          event.Headers.Event == "push" and
          ref == "refs/heads/main"
      - if: |
          event.Headers.Event == "pull_request" and
          event.Payload.GetAction() in ["opened", "edited", "reopend", "synchronize"]
